<AuthorizeView>
    <Authorized>
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/dashboard">Log in</a>
    </NotAuthorized>
</AuthorizeView>